#log-and-account {
	display: flex;
	/*Horizontal so that its width can be <100% and adapt*/
	flex-flow: row wrap;
	justify-content: center;
}

#log {
	display: flex;
	flex-flow: column wrap;
	text-align: center;
	padding: 32px;
	min-width: 50%;

	border-radius: 16px;
	box-shadow: 2px 2px 8px 0 #0008;
	background: #fafafc;
}
.log-title {
	font-size: x-large;
	margin: 16px 16px 32px 16px;
}
#social-btns {
	display: flex;
	flex-flow: column;
}
#social-btns div {
	display: flex;
	justify-content: center;
}
.social-btn {
	display: flex;
	align-items: center;
	padding: 0 16px 0 0;

	background: transparent;
	border-radius: 8px;
	transition: color .1s, background .1s;
	/*Color and border are custom properties*/
}
.social-btn ion-icon {
	font-size: 24px;
	padding: 7px 8px;
	margin: 8px;
	/*24 + 2*(7 +8 +1) = 56*/
}
#google-btn {
	color: #e60600;
	border: 1px solid #e60600;
	justify-content: center;
}
#google-btn:hover {
	background: #d42420;
	color: white;
}
#manual-login {
	display: flex;
	flex-flow: column;
}
#login-inputs {
	margin-bottom: 16px;
}
.input-object {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px;
}
.input-object input {
	padding: 8px;
	margin-left: 8px;
	
	border: none;
	background: transparent;
	box-shadow: inset 0 0 4px 0 #0004;
	border-radius: 6px;
	font-size: 90%;
}
#log-btns {
	display: flex;
	flex-flow: column;
	padding: 8px;
}
.log-btn {
	padding: 12px;
	margin: 2px;

	border-radius: 6px;
	transition: color .1s, background .1s;
	background: transparent;
	font-size: 90%;
}
#login-btn {
	color: #d42420;
	border: 1px solid #d42420;
}
#register-btn {
	color: #0088bb;
	border: 1px solid #0088bb;
}
#forgotten-btn {
	color: #683838;
	border: 1px solid #683838;
}
#login-btn:hover {
	color: white;
	background: #d42420;
}
#register-btn:hover {
	color: white;
	background: #0088bb;
}
#forgotten-btn:hover {
	color: white;
	background: #683838;
}


#account {
	display: flex;
	flex-flow: column;
	padding: 32px;
	margin: 16px;

	border-radius: 16px;
	box-shadow: 2px 2px 8px 0 #0008;
	background: #fafafc;
}
#account-data {
	display: flex;
	flex-flow: column;
}
#account-data input, #account-data textarea, #account-email-data {
	padding: 8px;
	margin: 6px 0 12px 0;
	font-size: medium;
	
	background: transparent;
	border: 1px solid #ccc;
	box-shadow: inset 0 0 2px 0 #0004;
	border-radius: 6px;
}
#account-email-data {
	color: #444;
}
.account-btns {
	display: flex;
	justify-content: space-between;
	margin: 8px;
}
.account-btn {
	padding: 8px;
	margin: 4px;
	justify-content: center;
	font-size: 90%;

	background: transparent;
	color: #421ebc;
	transition: color .1s, background .1s;
	border: 1px solid #421ebc;
	border-radius: 6px;
}
.account-btn:hover {
	color: white;
	background: #421ebc;
}
#delete-account-btn:hover {
	color: white;
	background: red;
	border-color: red;
}