* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
}
body {
	min-height: 100vh;
	padding-bottom: 56px;/*Space for the footer*/
	position: relative;

	background: #fff;
	font-family: 'Open Sans', Roboto, Helvetica, sans-serif;
	color: var(--text-color);
}
a {
	color: #421ebc;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	text-decoration: underline;
}

button, input, textarea {
	outline: none;
	font-size: 100%;
}
header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	font-size: 16px;
	line-height: 24px;

	display: flex;
	overflow: visible;
	background: #fff;
	box-shadow: 0px 1px 8px 0px #0004;
}
header nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-flow: row wrap;
	padding: 0px 16px;
	min-height: 56px;
}
header ul {
	display: flex;
	align-items: center;
	list-style: none;
	padding: 0;
	margin: 0;
}
header a {
	display: flex;
	align-items: center;
	padding: 12px 4px;
	color: #777;
	text-decoration: none;
	font-weight: normal;
	border: solid 4px transparent;
	transition: border .1s ease-out;
	height: 56px; /*Not several lines*/
}
header a:hover {
	color: #000;
	border-bottom: solid 4px black;
	text-decoration: none;
}
.active {
	border-bottom: solid 4px #777;
}
#icon {
	/*Remove the border at the bottom to this <a> element*/
	border: none;
	padding: 4px 8px 4px 0;
}
#icon-image {
	/*Leave place for the border of the image*/
	width: 48px;
	height: 48px;
	border: solid 2px transparent;
	border-radius: 999px;
	transition: border .1s ease-out;
}
#active-icon-image {
	width: 48px;
	height: 48px;
	border: solid 2px transparent;
	border-radius: 999px;
	transition: border .1s ease-out;

	border: solid 2px #777;
	border-radius: 999px;
}
#icon:hover #icon-image{
	border: solid 2px black;
	border-radius: 999px;
}
#icon:hover #active-icon-image{
	border: solid 2px black;
	border-radius: 999px;
}
#add-button {
	font-size: 14px;
	color: #421ebc;
	background: transparent;
	border: 1px solid #421ebc;
	border-radius: 8px;
	transition: color .1s, background .1s;
	padding: 10px;
	margin-left: 8px;
}
#add-button:hover {
	color: white;
	background: #421ebc;
	box-shadow: 1px 1px 4px 0 #0006;
}
#add-projects {
	position: fixed;
	display: flex;
	flex-flow: column;
	width: 60%;
	max-height: 90%;
	z-index: 10;
	top: 54px; /*2px over the header*/
	right: 16px;
	
	background: #fff;
	box-shadow: 0 1px 8px 0px #0004;
	border-radius: 8px;

	padding: 32px;
	justify-content: center;
	text-align: center;
	font-size: medium;
}
#has-to-be-verified {
	padding: 0 16px 32px 16px;
}
#add-project {
	/* Display given by projects.js*/
	flex-flow: column;
}
#add-projects input, #add-projects textarea {
	font-size: small;
	padding: 8px;
	margin: 2px;
	border-radius: 8px;

	transition: color .1s, background .1s;
	color: #222;
	background: transparent;
	border: 1px solid #666;
}
#add-projects input::placeholder {
	color: #888;
}
#add-projects button {
	font-size: small;
	padding: 8px;
	margin: 4px;

	color: #421ebc;
	background: transparent;
	border: 1px solid #421ebc;
	border-radius: 6px;
	transition: color .1s, background .1s;
}
#add-projects button:hover {
	color: white;
	background: #421ebc;
	box-shadow: 1px 1px 8px 0 #0006;
}

.first-section {
	display: flex;
	flex-flow: column wrap;
	padding: 32px 16px;
	margin-top: 56px;

	transition: padding .1s ease-out;
}
.section {
	display: flex;
	flex-flow: column wrap;

	padding: 32px 16px;
}
ion-icon {
	font-size: 22px;
	margin: 8px;
}
.separator {
	margin: 24px 0;
	height: 0;
	border-top: 1px solid #ccc;
}
.loading-icon {
	display: flex;
	justify-content: center;
}
.loading-icon img {
	width: 64px;
	height: 64px;
}
#who-are-we {
	background: #cde;


	border-radius: 16px;
	padding: 16px;
	box-shadow: 1px 2px 4px 0 #0364;
}






#footer-separator {
	margin: 0 16px;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;  /*Inside the body, with position relative*/
	bottom: 0;
	width: 100%;
	/*min-height: 56px;*/
	font-size: small;
	overflow: hidden;
	text-align: center;
}
.footer-left, .footer-right {
	display: flex;
	width: 50%;
	line-height: 24px;
	padding: 16px 24px;
}
.footer-left {
	flex-flow: row wrap;
}
.footer-right {
	flex-flow: row-reverse wrap;
}
footer a {
	color: #444;
	text-decoration: none;
	font-weight: normal;
}
footer a:hover {
	color: #000;
	text-decoration: underline;
	font-weight: normal;
}




@media screen and (max-width: 600px){
	body{
		font-size: small;
	}
	header{
		font-size: x-small;
	}
	header nav {
		padding: 0;
	}
	header a {
		padding: 0;
	}

}
@media screen and (max-width: 500px){
	.first-section {
		padding: 136px 16px 50px 16px;
	}
}